/*========== Google Font ==========*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
/*========== Variabel ==========*/
/*========== Bess ==========*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 1440px;
  min-height: 100vh;
  margin: auto;
  background-color: hsl(218deg, 28%, 13%);
  color: hsl(0deg, 0%, 100%);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0.01rem;
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: hsl(0deg, 0%, 100%);
}

ul {
  list-style: none;
}

img {
  width: 100%;
  vertical-align: middle;
}

/*========== Clasess ==========*/
.container {
  width: min(100% - 1.25rem, 700px);
  margin-inline: auto;
}

.btn {
  background: linear-gradient(to right, hsl(176deg, 68%, 64%), hsl(198deg, 60%, 50%));
  color: hsl(0deg, 0%, 100%);
  font-weight: 700;
  border-radius: 24px;
  display: inline-block;
}

/*========== Navbar ==========*/
.navbar {
  padding: 22px 4px 22px 0;
  background-color: hsl(217deg, 28%, 15%);
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar--logo .logo {
  max-width: 73px;
  height: auto;
}
.navbar--menu {
  position: relative;
  display: flex;
  gap: 24px;
}
.navbar--menu .menu-link {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.562);
  transition: all 0.3s;
}
.navbar--menu .menu-link:hover {
  color: hsl(0deg, 0%, 100%);
  border-bottom: solid 1px hsl(0deg, 0%, 100%);
}

/*========== Intro ==========*/
.intro {
  background: hsl(217deg, 28%, 15%) url("/images/bg-curvy-mobile.svg") bottom no-repeat;
  background-size: 100% 275px;
}
.intro .container {
  max-width: 400px;
  text-align: center;
  padding: 0 17px;
}
.intro--img-container .intro-img {
  max-width: 400px;
  height: auto;
}
.intro--sub-container .intro-h1 {
  font-size: 22px;
  line-height: 32px;
  margin: 30px 0 16px;
}
.intro--sub-container p {
  font-size: 13px;
  line-height: 20px;
}
.intro--sub-container .intro-btn {
  font-size: 14px;
  padding: 14px 65px;
  margin-top: 30px;
  transition: all 0.3s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.intro--sub-container .intro-btn:hover {
  background: hsl(176deg, 68%, 64%);
  box-shadow: hsl(176deg, 68%, 64%) 0px 6px 12px -2px, hsl(176deg, 68%, 64%) 0px 3px 7px -3px;
}

.features {
  margin-top: 118px;
}
.features--card-container {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 78px;
}
.features--card-container .card-box {
  text-align: center;
  max-width: 296px;
  margin-inline: auto;
}
.features--card-container .card-box .card-header {
  margin-bottom: 31px;
}
.features--card-container .card-box .card-header .card-icon {
  max-width: 60px;
}
.features--card-container .card-box .card-sub .card-h2 {
  font-size: 16px;
  margin-bottom: 10px;
}
.features--card-container .card-box .card-sub p {
  font-size: 13px;
  line-height: 20px;
}

.productive {
  margin-top: 140px;
}
.productive .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 500px;
}
.productive--img-container .productive-img {
  max-width: 400px;
}
.productive--sub-container .productive-h2 {
  font-size: 17px;
  margin-bottom: 17px;
}
.productive--sub-container p {
  font-size: 13px;
  letter-spacing: 0.03rem;
}
.productive--sub-container .text-two {
  display: inline-block;
  margin-top: 15px;
}
.productive--sub-container .productive-link {
  display: inline-block;
  color: hsl(176deg, 68%, 64%);
  font-size: 13px;
  border-bottom: 1px solid hsl(176deg, 68%, 64%);
  margin-top: 8px;
}
.productive--sub-container .productive-link .arrow {
  max-width: 13px;
  margin-left: 5px;
}

.comment {
  margin-top: 140px;
}
.comment--card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  place-items: center;
  gap: 22px;
}
.comment--card-container .card-box:first-child::before {
  content: "";
  width: 20px;
  height: 16px;
  background: url("/images/bg-quotes.png") no-repeat;
  background-size: contain;
  position: absolute;
  top: -16px;
  left: 4px;
  z-index: -99;
}
.comment--card-container .card-box {
  max-width: 320px;
  padding: 23px 22px 23px 18px;
  background-color: hsl(219deg, 30%, 18%);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  border-radius: 5px;
  position: relative;
}
.comment--card-container .card-box .card-sub {
  margin-bottom: 20px;
}
.comment--card-container .card-box .card-sub p {
  font-size: 12px;
}
.comment--card-container .card-box .card-profile {
  display: flex;
  align-items: center;
  gap: 7px;
}
.comment--card-container .card-box .card-profile .card-img .card-icon {
  max-width: 25px;
  border: 1px solid #000;
  border-radius: 50%;
}
.comment--card-container .card-box .card-profile .card-name .comment-h3 {
  font-size: 10px;
  margin-bottom: 5px;
}
.comment--card-container .card-box .card-profile .card-name p {
  font-size: 7px;
  text-transform: uppercase;
}

.access {
  max-width: 862px;
  margin-inline: auto;
}
.access .container {
  background-color: hsl(217deg, 28%, 15%);
  padding: 37px 25px 34px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  position: relative;
  top: 160px;
}
.access--card-box {
  text-align: center;
}
.access--card-box .access-h2 {
  font-size: 17px;
  margin-bottom: 16px;
}
.access--card-box p {
  font-size: 13px;
}
.access--card-box .card-form {
  margin-top: 16px;
}
.access--card-box .card-form form {
  position: relative;
}
.access--card-box .card-form form .access-email {
  display: inline-block;
  padding: 14px 0 10px 25px;
  width: 100%;
  border-radius: 25px;
  outline: none;
}
.access--card-box .card-form form input[type=email]:focus {
  border: 2px solid hsl(176deg, 68%, 64%);
}
.access--card-box .card-form form .access-error {
  display: none;
  font-size: 10px;
  color: hsl(0deg, 100%, 63%);
  position: absolute;
  top: 45px;
  left: 25px;
}
.access--card-box .card-form form .access-btn {
  margin-top: 22px;
  padding: 14px 65px;
  width: 100%;
  border: none;
  transition: all 0.3s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.access--card-box .card-form form .access-btn:hover {
  background: hsl(176deg, 68%, 64%);
  box-shadow: hsl(176deg, 68%, 64%) 0px 6px 12px -2px, hsl(176deg, 68%, 64%) 0px 3px 7px -3px;
}
.access--card-box .card-form .invalid-error .access-error {
  display: block;
}

.footer {
  background-color: hsl(216deg, 53%, 9%);
}
.footer .container {
  padding: 225px 0 0;
}
.footer--logo .logo {
  max-width: 160px;
  height: auto;
}
.footer--list-container .about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(233px, 1fr));
  row-gap: 14px;
  min-width: none;
  margin-top: 36px;
}
@media (min-width: 720px) {
  .footer--list-container .about {
    justify-items: center;
  }
}
.footer--list-container .about p {
  font-size: 14px;
  max-width: 260px;
}
.footer--list-container .about .addres,
.footer--list-container .about .phone,
.footer--list-container .about .email {
  display: flex;
  gap: 24px;
}
.footer--list-container .about .contac .phone {
  margin-bottom: 14px;
}
.footer--list-container .list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(233px, 1fr));
  gap: 44px;
  min-width: none;
  margin-top: 73px;
}
@media (min-width: 720px) {
  .footer--list-container .list {
    justify-items: center;
  }
}
.footer--list-container .list .menu {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.footer--list-container .footer-social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 72px;
}
.footer--list-container .footer-social .social-link {
  font-size: 24px;
}

@media screen and (min-width: 900px) {
  .container {
    width: min(100% - 1.25rem, 1440px);
  }

  .navbar {
    padding: 73px 80px;
  }
  .navbar--logo .logo {
    max-width: 176px;
  }
  .navbar--menu .menu-link {
    font-size: 16px;
  }

  .intro {
    display: grid;
    place-content: center;
    background-size: 100% 220px;
  }
  .intro .container {
    max-width: 100%;
  }
  .intro--img-container .intro-img {
    max-width: 720px;
  }
  .intro--sub-container {
    max-width: 870px;
  }
  .intro--sub-container .intro-h1 {
    font-size: 40px;
    line-height: 60px;
  }
  .intro--sub-container p {
    font-size: 16px;
    line-height: 30px;
    padding: 0 170px;
  }
  .intro--sub-container .intro-btn {
    font-size: 16px;
    padding: 19px 95px;
    border-radius: 30px;
  }

  .features--card-container {
    grid-template-columns: repeat(auto-fit, minmax(500px, 500px));
    place-content: center;
    gap: 80px;
  }
  .features--card-container .card-box {
    max-width: 445px;
  }
  .features--card-container .card-box .card-sub .card-h2 {
    font-size: 20px;
  }
  .features--card-container .card-box .card-sub p {
    font-size: 16px;
  }

  .productive .container {
    display: grid;
    place-content: center;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    max-width: 1440px;
    gap: 57px;
  }
  .productive--img-container .productive-img {
    min-width: 615px;
  }
  .productive--sub-container {
    max-width: 600px;
  }
  .productive--sub-container .productive-h2 {
    font-size: 40px;
    margin-bottom: 17px;
    padding-right: 100px;
  }
  .productive--sub-container p {
    font-size: 16px;
    letter-spacing: 0.03rem;
  }
  .productive--sub-container .text-two {
    display: inline-block;
    margin-top: 15px;
  }
  .productive--sub-container .productive-link {
    display: inline-block;
    color: hsl(176deg, 68%, 64%);
    font-size: 16px;
    border-bottom: 1px solid hsl(176deg, 68%, 64%);
    margin-top: 8px;
  }
  .productive--sub-container .productive-link .arrow {
    max-width: 13px;
    margin-left: 5px;
  }

  .comment--card-container .card-box:first-child::before {
    width: 55px;
    height: 45px;
    top: -35px;
    left: -8px;
    z-index: 0;
  }
  .comment--card-container .card-box {
    max-width: 430px;
    padding: 41px 20px 25px;
  }
  .comment--card-container .card-box .card-sub p {
    font-size: 14px;
  }
  .comment--card-container .card-box .card-profile .card-name .comment-h3 {
    font-size: 11px;
  }

  .access .container {
    padding: 40px 78px 40px;
  }
  .access--card-box .access-h2 {
    font-size: 31px;
  }
  .access--card-box p {
    font-size: 14px;
  }
  .access--card-box .card-form form {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 30px;
  }
  .access--card-box .card-form form .access-email {
    padding: 15px 40px;
    width: 69%;
  }
  .access--card-box .card-form form .access-error {
    top: 75px;
  }
  .access--card-box .card-form form .access-btn {
    padding: 15px 10px;
    width: 26%;
  }

  .footer .container {
    padding: 195px 120px 95px;
  }
  .footer--list-container {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
  }
  .footer--list-container .about {
    display: flex;
    margin: 0;
  }
  .footer--list-container .about .addres p {
    max-width: 340px;
  }
  .footer--list-container .about .contac {
    margin-left: 20px;
  }
  .footer--list-container .list {
    display: flex;
    margin: 0;
    gap: 81px;
  }
  .footer--list-container .footer-social {
    margin: 0;
    align-items: flex-start;
  }
}/*# sourceMappingURL=style.css.map */